@page "/"

<div class="notebooklayout">
    <div class="col" style="background:#baba">
        <NotebooksComponent />
    </div>
    <div class="col" style="background: #bada55">
        <NotesComponent />
    </div>
    <div class="col noteeditor" style="background: #99999940">
        <NoteEditorComponent />
    </div>
</div>