@inject NotesService NtSvc

@if (ActiveNote is not null)
{
    <div class="nav">
        <input class="form-control" type="text" @oninput="(e)=> { NoteName = e.Value.ToString(); }" value="@NoteName" />
    </div>
    <textarea class="form-control" @bind="@ActiveNote.Content" />
}


@code {
    [Parameter]
    public Note? ActiveNote { get; set; }

    //TODO Update note
    private string NoteName
    {
        get => ActiveNote.Name;
        set => ActiveNote.Name = value;
    }

    protected override void OnInitialized()
    {
        NtSvc.ActiveNoteChanged += StateHasChanged;
        NtSvc.NotifyPropertyChanged += StateHasChanged;
    }

    private async void OnNotifyPropertyChanged()
    {
        await InvokeAsync(StateHasChanged);
    }
    // TODO ondestroy unsub
}
