@inject NotebookService nbSvc;

<nav class="navbar">
	<div class="container-fluid">
		<a href="#" class="navbar-brand">Notes</a>
		<button class="btn btn-outline-primary" @onclick="addNotes">New note</button>
		@* <button class="btn btn-outline-secondary">New to-do</button> *@
		<div class="d-flex" role="search">
			<input type="text" class="form-control form-control-sm me-2">
			<button class="btn btn-outline-success">Search</button>
		</div>
	</div>
</nav>
<div class="list-group">
	@if(nbSvc.ActiveNotebook is not null)
	{
		@foreach (var note in nbSvc.ActiveNotebook.Notes)
		{
			<a href="#" class="list-group-item">@note.Name</a>
		}
	} 
	else
	{
		<p>Waiting...</p>
	}
</div>


@code {
	[Parameter]
	public List<Note> Notes { get; set; } = new()
	{
		new Note(){Name = "Note 1"},
		new Note(){Name = "Note 2"},
		new Note(){Name = "Note 3"},
	};

	void addNotes()
	{
		nbSvc.ActiveNotebook.Notes.AddRange(Notes);
	}
}
